@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&family=Open+Sans:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    background: #f8f9fa;
}

.header {
    width: 100%;
    height: 80px;
    /*            
            border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Dosis', sans-serif;
    position: relative;




}

.header::after {
    content: "";
    background-image: url("./Images/background.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100vh;
    z-index: -10;
    transition: all 15s ease;
    overflow: hidden;
}

.header:hover::after {
    transform: scale(1.4);

}

.header::before {
    content: "";
    background: rgba(0, 0, 0, 0.326);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100vh;
    z-index: -5;
}

.header .logo {
    display: inline-block;
    margin-left: 20px;
    font-size: 24px;
    position: relative;
}

.header .logo::after {
    content: "";
    width: 40px;
    height: 6px;
    border-radius: 4px;
    position: absolute;
    top: 36px;
    left: 0px;
    background-image: linear-gradient(to right, white, greenyellow);
    transition: all 0.9s ease-in-out;
}

.header .logo:hover::after {
    width: 180px;
}

.header-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header .logo span {
    color: rgb(31, 248, 31);
    font-weight: 500;
}

.header .header-links ul {
    display: flex;
    margin-right: 20px;

}

.header .header-links ul li {
    list-style-type: none;
    margin: auto 16px;
}

.header .header-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all 0.5s ease;

}

.header .header-links ul li a:hover {
    color: rgb(8, 235, 8);
}

body .overlay-quote {
    text-align: center;
    position: absolute;
    width: 80%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Dosis', sans-serif;
    font-size: 42px;
    color: rgba(255, 255, 255, 0.742);
    text-transform: uppercase;
}

body .overlay-quote span {
    color: rgba(138, 250, 90, 0.739);

}




.main-content {
    /* border: 1px solid green; */
    /* background: wheat; */
    padding: 10px 20px;
    text-align: justify;
    background: #f8f9fa;

}

.main-content h2 {
    margin-bottom: 10px;
}

/* .main-content #main-article {
            background:rgb(8, 235, 8);
        } */
.img-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: right;
    shape-outside: circle();

    margin: 40px 18px 70px 18px;

    text-align: center;
    padding-bottom: 20px;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.img-wrapper .author {
    font-weight: 500;
    font-family: cursive;
}

.articles {
    /* border: 1px solid blue; */
    margin-bottom: 20px;
    padding: 10px 14px;
}

.articles p {
    margin: 8px auto;
}

.articles .more {
    display: none;
}

.articles .article-heading {
    font-weight: 500;
}

.articles button {
    display: block;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 12px;
    background-color: rgb(211, 211, 227);
    transition: all 0.5s ease;
}

.articles button:hover {
    background: white;
}

.main-content .content-heading {
    text-align: center;
    font-size: 28px;
    margin: 70px auto;
    text-transform: uppercase;


}

.main-content .content-heading .content-subheading {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.595);
    text-transform: lowercase;
    font-family: cursive;
}

@media screen and (max-width: 640px) {
    .header {
        flex-direction: column;

    }

    .header .logo {
        margin: 20px auto;
    }
}


/* new section styles */
.news-section-title,
.gallery-section-title {
    text-align: center;
    text-transform: uppercase;
    display: block;
    color: rgba(0, 0, 0, 0.795);
    margin: 50px 0px;
}

.news-wrapper {
    /* border: 1px solid rgba(0, 0, 0, 0.416); */
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;

}

.news-wrapper .news {
    width: 45%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 12px 16px;
    border-radius: 12px;
    background-color: gainsboro;

    margin: 10px 10px;

}

.news .news-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.news-content a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: blue;
}

.news-content a:hover {
    color: rgb(13, 22, 156);
}


@media screen and (max-width: 820px) {
    .news .news-content {
        flex-direction: column;
    }

    .news-image-wrapper {
        margin: 10px;
    }
}

@media screen and (max-width: 640px) {
    .news-wrapper .news {
        width: 100%;
    }

    #main-article .img-wrapper {
        display: none;
    }
}



/* footer style */

.footer {
    width: 100%;

    background: black;
    color: white;

    padding: 30px 20px 40px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-heading {
    width: 100%;
    text-align: center;
    font-size: 32px;
}

.footer .footer-heading span {
    font-size: 15px;
    display: block;

    color: rgba(255, 255, 255, 0.672);
}

.footer .info {
    margin-left: 30px;
}

.footer .info span {
    display: block;
    margin-bottom: 4px;

}

.footer .fa-solid {
    color: white;
    margin: auto 10px;
}

.footer .map {
    margin: 20px 24px;
    width: 400px;
    height: 300px;

}

.footer-note {
    text-align: center;
    margin-bottom: -30px;
    width: 100%;
}

.footer-note span {
    font-size: 15px;
    display: inline-block;
    color: rgba(255, 255, 255, 0.48);
    margin-bottom: 10px;

}

.footer .footer-break {
    color: white;
    width: 90%;
    display: inline-block;
    margin: auto;

}

@media screen and (max-width: 840px) {
    .footer {
        flex-direction: column;
    }

    .footer .map {
        margin: 20px auto;
    }

    .footer .info {
        margin: 20px auto;
    }
}


/* gallery styles  */
section.gallery {
    width: 90%;
    height: 4600px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.197);
    justify-content: space-evenly;
    align-items: center;
}

.image-wrapper {
    width: 47%;
    /* height: 360px; */
    /* margin: 10px 16px; */
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;


}

.image-wrapper img {
    width: 100%;
    /* height: 340px; */
    object-fit: cover;
    margin-bottom: -8px;
}

.gallery .comparisionImage {
    height: 670px;
}

.gallery .comparisionImage img {
    height: 640px;
}

.image-wrapper .caption {
    font-weight: bold;
    display: inline-block;
    line-height: 30px;
    width: 100%;
    background: rgba(0, 128, 0, 0.515);
}

@media screen and (max-width: 720px) {
    section.gallery {
        height: auto;
    }

    .image-wrapper {
        width: 100%;
    }
}